.content{
    margin: 0 100px 150px;
    text-align: center;
}

.footer{
    border-top: 1px solid #DEDEDE;
}


/* resposive  */

/* Mobile & Tablet  */

@media (max-width:1023px){

    .content{
        margin: 0 0 50px;
    }

}